---
import BaseLayout from '../layouts/BaseLayout.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import Facebook from '../components/icons/Facebook.astro';
---

<BaseLayout title="About — Rolf G. Karlsson">
	<main class="mx-auto max-w-3xl px-4 py-10">
		<h1 class="mb-6 text-3xl font-light text-center">About Rolf</h1>
		<div class="mx-auto grid max-w-8xl gap-8 px-4 py-10 md:grid-cols-2">
			<img src="/img/Rolf1.jpeg" alt="Rolf Karlsson looking at the horizon with binoculars" class="rounded-md">
			<div class="space-y-4">
				<p class="text-neutral-400">Rolf G. Karlsson is a Swedish nature photographer from Uddevalla, Gothenburg. He moved to Spain in the late 80's.
                Before moving, Rolf had accumulated an extensive insect collection in Sweden, that includes beetles and butterflies. Rolf has always had a burning passion for birds and
                all avian species since he was 10 years old, when he was younger he would photograph them in his spare time, and has consistently photographed them since early 2010.
			</p>
			<p class="text-neutral-400">
				It was during the rise of the social media era when he started to publish them on Facebook for other avid bird watchers and photographers to enjoy. Rolf has even printed 16 albums of the birds he's captured with his camera lens starting from 2012 until today.
			</p>
			</div>
		</div>
		<div class="flex flex-col items-center mt-6">
			<p class="text-neutral-400 py-4">Check out his posts here! </p>
			<a href="https://www.facebook.com/rolf.karlsson.988/" aria-label="Rolf on Facebook" target="_blank" class="transition hover:opacity-50"><Facebook class="h-8 w-8" /></a>
		</div>
		
	</main>

	<Navbar />
	<Footer />
</BaseLayout>
