<div class="text-center">
    <p class=" font-display text-neutral-200">
        Website created by Stephen Nicholas Jones De Giorgi - 2026&copy; - Photos copyrighted to Rolf G. Karlsson&copy;
    </p>
</div>